/* CSS files add styling rules to your content */

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin-top: 4em;
  margin-bottom: 4em;
  background: #C9F1F9;
}

p {
  font-family: "VT323", helvetica, arial, sans-serif;
  font-size: 25px;
  color: #000;
}
.box {
  position: relative;
  width: @screen-md-mid;
  max-width: 500px;
  border: dashed black;
  background: #FFFFFF;
  margin: 50px;
  padding: 20px;
  font-family: "VT323", helvetica, arial, sans-serif;
  font-size: 20px;
  text-align: justify;
  text-justify: inter-word;
}
.smaller-box {
  position: relative;
  width: @screen-md-mid;
  max-width: 360px;
  font-family: "VT323", helvetica, arial, sans-serif;
  font-size: 20px;
  text-align: justify;
  text-justify: inter-word;
}
.rainbow {
    text-align: center;
    text-decoration: underline;
    letter-spacing: 5px;
}
.rainbow-text-animated {
    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet, red);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 6s ease-in-out infinite;
    background-size: 400% 100%;
}

@keyframes rainbow_animation {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}